.main{
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    border-bottom: 1px solid;
    z-index: 1;
}

.languageTag{
    background-color: var(--background-accent-color);
    padding: 0.5rem;
    border-radius: 0.25rem 0rem 0rem 0rem;
    color: var(--secondary-text-color);
}

.actionButton{
    width: 2rem;
    height: 2rem;
    background-color: var(--background-accent-color);
    border: inherit;
    color: var(--primary-text-color);
    border-radius: 0rem 0.25rem 0rem 0rem;
    cursor: pointer;
    z-index: 0;
}

.actionImage{
    object-fit: contain;
    vertical-align: middle;
    padding: 10%;
}