@keyframes pulse {
    0% {
      scale: 1;
      opacity: 1;
    }
    50% {
      scale: 0;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
  

.main{
    min-height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.node{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
}

.animateNode{
    animation: pulse 1s ease;
}
