html{
    background-color: var(--background-accent-color);
    color: var(--primary-text-color);
}

body{
    background-color: var(--background-color);
    margin: 0px;
    padding: 0.5rem;
}

*{
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap; /* Allows text to wrap */
}